main {
  text-align: center;
}
canvas {
  border: .2em solid #000;
}

#scores {
  display: none;
  visibility: hidden;
}

#scoreMenu {
  display: none;
  visibility: hidden;
  font-size: 1.3em;
}
#gameMenu {
  text-align: center;
  font-size: 1.3em;
  border: .2em solid #ddd;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5em;
}
ol {
  list-style-type: none;
  text-align: left;
}

#killCount {
  display: inline-block;
}
#roundCounter {
  display: inline-block;
}

#gameBtn {
  padding: .7em;
  font-size: 1.3em;
  background-color: #f00;
  color: #fff;
}
#gameBtn:hover {
  background-color: #330000;
  cursor: pointer;
}
